.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
} 